.h1 Movies
%table.table.table-hover.table-responsive
  = render 'table_partial/table_base'
  - @movies.each do |movie|
    = render 'table_partial/table_row', locals: { movie: movie }
.h1 People
%table.table.table-hover
  %thead
    %tr
      %th Name
      %th Popularity
  %tbody
    -@people.each do |person|
      %tr
        %td= person['name']
        %td= person['popularity'].to_i
