- provide(:title, @user.name)
.container-fluid
  .row-fluid
    .col-sm-4
      %h1
        = gravatar_for @user
        = @user.name
      -if @user.lists.any?
        %h3
          Lists (#{@user.lists.count})
          %ol.lists= render @lists
          =will_paginate @lists
