- movie = locals[:movie]
- if movie['release_dates']['theater'].blank?
  date = Unknown
-else
  - date = Date.parse(movie['release_dates']['theater'])
  - date.strftime("%b #{date.day.ordinalize}, %Y")
%ul
  %tr.row.clearfix
    %td.col-md-6= link_to(movie['title'], movie_path(movie['id']))
    %td.col-md-4= date
    %td.col-md-2= movie['ratings']['critics_score']
